# Dependency directories
/node_modules

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# User-specific files
.DS_Store
Thumbs.db

# TypeScript specific
*.tsbuildinfo